<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.terblog.dao.ArticleDao">

    <select id="findInforArticleById" resultType="com.terblog.model.Article">
        select * from article where id = #{id}
    </select>
    <!--查询正在文章 state = 0 -->
    <select id="allArticle" resultType="com.terblog.model.Article">
        select * from article where state = 0
    </select>
    <!--查询回收站文章 state = 1 -->
    <select id="RecycledArticle" resultType="com.terblog.model.Article">
        select * from article where state = 1
    </select>
    <!--查询草稿文章 state = 2 -->
    <select id="DraftArticle" resultType="com.terblog.model.Article">
        select * from article where state = 2
    </select>

    <!--放入回收站-->
    <update id="InRecycledArticle" parameterType="com.terblog.model.Article">
        update article set state = 1 where id = #{ArticleId}
    </update>

    <!--移出回收站-->
    <update id="OutRecycledArticle" parameterType="com.terblog.model.Article">
        update article set state = 0 where id = #{ArticleId}
    </update>

    <!--放入草稿文章-->
    <update id="InDraftArticle" parameterType="com.terblog.model.Article">
        update article set state = 2 where id = #{ArticleId}
    </update>

    <!--发布草稿-->
    <update id="OutDraftArticle" parameterType="com.terblog.model.Article">
        update article set state = 0 where id = #{ArticleId}
    </update>

    <!--删除文章-->
    <delete id="DeleteArticle" parameterType="com.terblog.model.Article">
        delete from article where id = #{ArticleId} and state = 1
    </delete>


</mapper>
