<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.terblog.dao.UserDao">


    <select id="findInformationByUserName" resultType="com.terblog.model.User">
        select * from user where username = #{username}
    </select>
    <select id="findInformationByUserId" resultType="com.terblog.model.User">
        select * from user where id = #{userid}
    </select>
    <select id="allUser" resultType="com.terblog.model.User">
        select * from user where state = 0
    </select>

    <select id="forbiddenUser" resultType="com.terblog.model.User">
        select * from user where state = 1
    </select>

    <!--启用用户-->
    <update id="StartUser" parameterType="com.terblog.model.User">
        update user set state = 0 where id = #{UserId}
    </update>

    <!--禁用用户-->
    <update id="BlockUser" parameterType="com.terblog.model.User">
        update user set state = 1 where id = #{UserId}
    </update>

    <!--删除用户-->
    <delete id="DeleteUser" parameterType="com.terblog.model.User">
        delete from user where id = #{UserId} and state = 1
    </delete>


    <!--修改密码-->
    <update id="ChangePassword" parameterType="com.terblog.model.User">
        update user set password = '${password}' where username = '${username}' and state = 0
    </update>



    <insert id="InNewUser" parameterType="com.terblog.model.User">
        insert into  user (username,password,nickname,headportrait,registrationdate,administrator,sex,email,phonenumber,signature,state)
        values (#{username},#{password},#{nickname},#{headportrait},#{registrationdate},#{administrator},#{sex},#{email},#{phonenumber},#{signature},#{state})

    </insert>

    <update id="InAlterUser" parameterType="com.terblog.model.User">
        update user set title= #{title} , content= #{content},date = #{date},time = #{time},bz = #{bz},state = #{state}  where id = #{id}
    </update>


</mapper>